:root {
  --theme: #1174d6;
}

/* TOP BAR */
.topbar {
  z-index: 50;
  border-bottom: 1px solid #eee;
}

.top-toggle {
  background: #e9ecef;
  border-radius: 30px;
  padding: 10px 22px;
  font-weight: 600;
  border: none;
}

.top-toggle.active {
  background: var(--theme);
  color: white;
}

/* INPUTS */
.top-input {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  border: 2px solid #eee;
  padding: 10px 18px;
  border-radius: 40px;
}

.top-input input,
.dropdown-box select {
  border: none;
  outline: none;
  width: 150px;
  background: transparent;
}

/* BUTTONS */
.adv-btn,
.search-btn {
  border-radius: 40px;
  padding: 10px 25px;
  border: 2px solid var(--theme);
  font-weight: 600;
  background: white;
  color: var(--theme);
}

.adv-btn:hover,
.search-btn:hover {
  background: var(--theme);
  color: white;
}

/* PROPERTY CARD */
.premium-card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.28s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  border: 1px solid #f1f1f1;
}

.premium-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.12);
}

/* IMAGE */
.property-img {
  position: relative;
  height: 220px;
}

.property-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BADGES */
.badges {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  gap: 10px;
}

.premium-badge {
  background: var(--theme);
  color: #fff;
  padding: 6px 14px;
  border-radius: 18px;
  font-weight: 600;
}

.sale-badge {
  background: #fff;
  color: var(--theme);
  padding: 6px 14px;
  border-radius: 18px;
  border: 1px solid var(--theme);
  font-weight: 600;
}

.rent-badge {
  background: #1dbf73;
  color: #fff;
  padding: 6px 14px;
  border-radius: 18px;
  font-weight: 600;
}

/* MAP */
.map-box {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
}
