@import "tailwindcss";

p {
  /* font-family: "Helvetica", "Arial", sans-serif !important; */
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.3 !important;
  letter-spacing: 0.2px !important;
  text-align: left !important;
  margin-bottom: 14px !important;
}
